DATABASE_URL = postgresql://postgres:{db-password}@db.zzjuwxgavwgjbokhmnij.supabase.co:5432/postgres

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=email@gmail.com
SMTP_PASS=asdfasdf

JWT_SECRET=this-is-a-very-secure-secret-placeholder-for-bookshelf
JWT_EXPIRES_IN=7d
PORT=8080

GEMINI_API_KEY = AIzaSyDlIb1_pV85kjnCBETcS4iGyCJpNAPxcw8